body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #c4c4c4;
    border-radius: 25px;
    padding: 11px;
    background-color: #3e7057;
    box-shadow: 0 0 10px rgba(126, 68, 68, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    color: black;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn {
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 100%;
    background-color: #ebebeb;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c9c4c4;
}
